<h3 id="section0" class="sub-header">更新フォーム</h3>
<div class="container">
  <form id="pro_registration_form">
    <% for(var i = 0; i < conf.sections[0].form_contents.length;i++){%>
      <div class="form-group row">
      <%- conf.sections[0].form_contents[i].label.open_tag %><%= conf.sections[0].form_contents[i].label.text %><%- conf.sections[0].form_contents[i].label.close_tag %>
      <%- conf.sections[0].form_contents[i].input.open_tag %><% if(conf.sections[0].form_contents[i].input.text){ %><%- conf.sections[0].form_contents[i].input.text %><% } %><%- conf.sections[0].form_contents[i].input.close_tag %>
      </div>
    <% } %>

    <div class="form-group row">
      <div class="offset-sm-10 col-sm-2">
        <button type="button" class="btn btn-primary" id="pro_registration_button">更新</button>
      </div>
    </div>
  </form>
</div>